<div class="container p-4">
    <div class="col-md-4 offset-md-4">
        <form class="card card-body">
            <div class="form-group">
                <h3 class="text-center text-danger">¡ERROR!</h3>
                <h3 class="text-center"><i class="fas fa-exclamation-triangle fa-7x"></i></h3>
                
            </div>
            
            <div class="form-group">
                <p class="text-center">Error al guardar los datos.</p>
                <p class="text-center text-primary">Asegurese de llenar correctamente los campos.</p>
                <p class="text-center text-primary">Tenga en cuenta lo siguiente:</p>
                <p class=" text-danger">*Los correos electrónicos deben ser válidos y no se pueden repetir.</p>
                <p class=" text-danger">*El tutor no puede registrar el mismo correo a mas de un alumno.</p>
                <p class=" text-danger">*Ingrese correctamente los números telefónicos solicitados.</p>
                <p class=" text-danger">*Ingrese correctamente los datos en su campo requerido.</p>
                
                <p class="text-center">Si el problema sigue comunicate a la escuela.</p>

            </div>
            
            <div class="form-group">
                <a class="btn btn-lg btn-primary btn-block" href="/#" role="button">Registrar Nuevamente</a>
                <p class="mt-5 mb-3 text-muted text-center">&copy; FERUZ 2020</p>
            </div>

         </form>
    </div>
    
</div>